h1 {
	color: white;
	background-color:DodgerBlue;
	border-left:8px solid blue;
	padding:10px 15px;
	margin-top:0;
}
div {
	background-color:lightgrey;
	box-shadow:10px 10px 10px grey;
	width:400px;
	margin:70px 20px;
	padding:20px;
}
.btn {
	font-size:16px;
}
#result {
	color:white;
	background-color:DodgerBlue;
	padding:4px 10px;
}